In [308]:
import pandas as pd
import glob
import yaml


all_files = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/results_10_5M_semi_flex/*/*v31*/*.csv')


algos_to_view = [
        #"cost_model_xgb_rs_exc_cluster_net_trans",
        #"cost_model_xgb_rs_exc_cluster_update_net_trans",
        #"cost_model_xgb_rs_exc_cluster_update_only_hist",

    
        #"tlbo_rgpe_prf",
        #"tlbo_topov3_prf",
        #"quantile",
        #"bayesian_open_box",
        #"random_search_syne_tune"

]

all_envs = []
all_algos = []
total_count = 0
dict_overview = dict();


dict_count_per_env = dict();

for file in all_files:
    #print(file)
    df = pd.read_csv(file)

    env = file.split("\\")[-3]
    algo = file.split("\\")[-2]
    count = len(df[df['transfer_id'] > 0])

    #if not any(a in algo for a in algos_to_view):
    #    continue

    
    total_count = total_count + count
    
    if env not in dict_overview.keys() :
        dict_overview[env] = dict()
    if algo not in dict_overview[env].keys(): 
        dict_overview[env][algo] = ""
    
    if env not in dict_count_per_env.keys():
        dict_count_per_env[env] = 0   
    
    dict_overview[env][algo] = dict_overview[env][algo] + "" + str(count)+"x; "
    dict_count_per_env[env] = dict_count_per_env[env] + count


print(yaml.dump(dict_overview))

print(yaml.dump(dict_count_per_env))

print("Total Transfer Count : "+str(total_count))

S16_C16_N1000:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '25x; 25x; 25x; '
S16_C4_N1000:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '25x; 25x; 25x; '
S16_C8_N1000:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '25x; 25x; 24x; '
S2_C2_N50:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '24x; 21x; 18x; '
S2_C8_N50:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '17x; 25x; 0x; '
S4_C16_N50:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '25x; 25x; 25x; '
S8_C16_N150:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '25x; 25x; 25x; '
S8_C2_N150:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '23x; 24x; 24x; '
S8_C8_N150:
  cost_model_xgb_rs_exc_cluster_update_only_hist_v31: '25x; 25x; 25x; '

S16_C16_N1000: 75
S16_C4_N1000: 75
S16_C8_N1000: 74
S2_C2_N50: 63
S2_C8_N50: 42
S4_C16_N50: 75
S8_C16_N150: 75
S8_C2_N150: 71
S8_C8_N150: 75

Total Transfer Count : 625

In [299]:
import pandas as pd
import glob
import yaml
all_files = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/random_samples_10_5M_semi_flex/S*.csv')
total_count = 0
for file in all_files:
    df = pd.read_csv(file)   
    count = len(df[df['time'].notna()])
    #count = len(df[df['transfer_id']>0])
    total_count = total_count + count
    print(f"{file.split('\\')[-1].split(".")[0]} : {count}")
print("\nTotal Random Sample Count : "+str(total_count))
# 13.500

SyntaxError: invalid syntax (1138226511.py, line 11)

In [ ]:
import pandas as pd
import glob
import yaml
all_files = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/results_1310k/*/*/*.csv')
total_count = 0
for file in all_files:
    df = pd.read_csv(file)
    count_all = len(df['time'])
    df = df[df['transfer_id'] > 0]    
    
    count = len(df[df['time'].notna()])


    if (count_all - count) > 5:

        print(f"{file.split('\\')[-1].split(".")[0]} : {(count_all - count)}")
        print(file)
        print("\n")

In [1674]:
import pandas as pd
import glob
import yaml
all_files = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/random_samples_*/S*.csv')
total_count_random_samples = 0
for file in all_files:
    df = pd.read_csv(file)   
    count = len(df[df['time'].notna()])
    total_count_random_samples = total_count_random_samples + count
print("\nTotal Random Sample Count : "+str(total_count_random_samples))


all_files = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/old_results/*.csv')
all_files_1 = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/old_results/*/*.csv')
all_files_2 = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/old_results/*/*/*.csv')
all_files_3 = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/old_results/*/*/*/*.csv')
all_files_4 = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/old_results/*/*/*/*/*.csv')
all_files_5 = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/old_results/*/*/*/*/*/*.csv')

total_count_old = 0
for file in all_files:
    df = pd.read_csv(file)   
    count = len(df[df['time'].notna()])
    total_count_old = total_count_old + count
    
for file in all_files_1:
    df = pd.read_csv(file)   
    count = len(df[df['time'].notna()])
    total_count_old = total_count_old + count
    
for file in all_files_2:
    df = pd.read_csv(file)   
    count = len(df)
    total_count_old = total_count_old + count

for file in all_files_3:
    df = pd.read_csv(file)   
    count = len(df)
    total_count_old = total_count_old + count

for file in all_files_4:
    df = pd.read_csv(file)   
    count = len(df)
    total_count_old = total_count_old + count

for file in all_files_5:
    df = pd.read_csv(file)   
    count = len(df)
    total_count_old = total_count_old + count

print("\nTotal Old Sample Count : "+str(total_count_old))

all_files = glob.glob('C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/results_*/*/*/*.csv')
total_count = 0
dict_count_per_env = dict();
for file in all_files:
    df = pd.read_csv(file)
    count = len(df[df['transfer_id'] > 0])
    total_count = total_count + count
    


print("\nTotal Transfer Count Opt Runs: "+str(total_count))

print("\nTotal Transfers executed: "+str(total_count + total_count_random_samples  + total_count_old))

#print("\nTotal GB's transfered: "+str((total_count + total_count_random_samples + total_count_old)*7.71))
print("Total Terabytes's transferred: "+str(round(((total_count + total_count_random_samples + total_count_old)*7.71)/1000,2)))

Total Random Sample Count : 40276

Total Old Sample Count : 47187

Total Transfer Count Opt Runs: 55884

Total Transfers executed: 143347
Total Terabytes's transferred: 1105.21

In [315]:
df = pd.read_csv("C:/Users/bened/Desktop/Uni/repos/xdbc-client/experiments/model_optimizer/results_heuristic.csv")

df.head(20)

#print(df.head(20))

,environment,rutime,opttime,throughput,read_par,deser_par,comp_par,send_par,rcv_par,decomp_par,...,skip_deser,host,client_readmode,read_partitions,run,date,transfer_id,xdbc_version,system_source,system_dest
0,environment_16_16_1000,25.484560,665.471976,302.7610,3,5,1,2,2,1,...,0,'sr630-wn-a-31',2,1,1,1740498712827066176,1740498712827066176,10,'csv','csv'
1,environment_2_8_50,210.430143,962.370578,36.6660,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740499492580953576,1740499492580953576,10,'csv','csv'
2,environment_4_16_50,210.450194,958.565361,36.6630,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740500453380184576,1740500453380184576,10,'csv','csv'
3,environment_8_8_150,73.466835,716.738605,105.0234,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740501309374874276,1740501309374874276,10,'csv','csv'
4,environment_8_2_150,102.443445,741.396651,75.3170,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740502024269576876,1740502024269576876,10,'csv','csv'
5,environment_8_16_150,72.441186,715.400552,106.5100,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740502771839886876,1740502771839886876,10,'csv','csv'
6,environment_16_4_1000,99.463380,733.611668,77.5730,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740503480744781576,1740503480744781576,10,'csv','csv'
7,environment_16_8_1000,24.482156,652.163774,315.1570,1,2,1,2,2,1,...,0,'sr630-wn-a-31',2,1,1,1740504210190950176,1740504210190950176,10,'csv','csv'
8,environment_2_2_50,210.450239,959.009075,36.6630,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740504985568970276,1740504985568970276,10,'csv','csv'
9,environment_16_16_1000,27.486067,664.280119,280.7140,3,5,1,2,2,1,...,0,'sr630-wn-a-31',2,1,1,1740506965541653960,1740506965541653960,10,'csv','csv'
10,environment_2_8_50,210.448227,960.355307,36.6630,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740507744979913860,1740507744979913860,10,'csv','csv'
11,environment_4_16_50,211.475261,963.011222,36.4850,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740508709612067560,1740508709612067560,10,'csv','csv'
12,environment_8_8_150,73.523071,714.542588,104.9400,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740509564297674960,1740509564297674960,10,'csv','csv'
13,environment_8_2_150,97.494335,736.410609,79.1400,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740510279083915760,1740510279083915760,10,'csv','csv'
14,environment_8_16_150,73.435863,699.762155,105.0670,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740511005291386860,1740511005291386860,10,'csv','csv'
15,environment_16_4_1000,99.433195,738.451742,77.5970,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740511720319331860,1740511720319331860,10,'csv','csv'
16,environment_16_8_1000,27.453136,656.337768,281.0510,1,2,1,2,2,1,...,0,'sr630-wn-a-31',2,1,1,1740512450963481160,1740512450963481160,10,'csv','csv'
17,environment_2_2_50,211.455750,958.564161,36.4880,1,1,1,1,1,1,...,0,'sr630-wn-a-31',2,1,1,1740513227785730060,1740513227785730060,10,'csv','csv'